<!DOCTYPE html>
<html>
  <head>
    <title>Blog99</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="float: right">
    <% if current_user.nil? %>
      <%= link_to 'Sign In', new_user_session_path %>
    <%else%>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <%end%>
  </div>


    <%= yield %>
  </body>
</html>
